{% extends 'footerbase.html' %}
{% block body%}


<section id="hero-inner">
    <div class="single-hero bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 text-center bclogo-container">
                
                    <div class="blockchain-logo-wrapper">
                        <div class="box-area animated">
                            <div class="box box-front">
                                <figure>
                                    <img src="/static/image/a1.webp"
                                        class="img-fluid lazy" loading="lazy" width="268" height="352"
                                        alt="Blockchain - A distributed immutable ledger technology" />
                                </figure>
                            </div>
                            <div class="box box-right">
                                <figure>
                                    <img src="/static/image/a1.webp"
                                        class="img-fluid lazy" loading="lazy" width="268" height="352"
                                        alt="Blockchain - A distributed immutable ledger technology" />
                                </figure>
                            </div>
                            <div class="box box-back">
                                <figure>
                                    <img src="/static/image/a1.webp"
                                        class="img-fluid lazy" loading="lazy" width="268" height="352"
                                        alt="Blockchain"/>
                                </figure>
                            </div>
                            <div class="box box-left">
                                <figure>
                                    <img src="/static/image/a1.webp"
                                        class="img-fluid lazy" loading="lazy" width="268" height="352"
                                        alt="Blockchain - A distributed immutable ledger technology" />
                                </figure>
                            </div>
                            <div class="box box-top">
                                <figure>
                                    <img src="/static/image/a1.webp"
                                        class="img-fluid lazy" loading="lazy" width="268" height="352"
                                        alt="Blockchain - A distributed immutable ledger technology" />
                                </figure>
                            </div>
                            <div class="box box-bottom">
                                <figure>
                                    <img src="/static/image/a1.webp"
                                        class="img-fluid lazy" loading="lazy" width="268" height="352"
                                        alt="Blockchain - A distributed immutable ledger technology" />
                                </figure>
                            </div>
                        </div>
                       
                        <div class="blockchain-logo-name">
                            <h1>lockchain</h1>
                            <h6>A distributed immutable <strong>ledger technology</strong></h6>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>


<section id="services" class="services-area">
    <div class="services-area_repeater rw">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-5">
                            <figure>
                                <img class="img-fluid lazy" loading="lazy"
                                    src="/static/image/ntf.webp"
                                    width="330" height="425" alt="NFT Development">
                            </figure>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-7 col-md-6 col-sm-6 det">
                            <h2>NFT Development</h2>
                            <p>At Tech Wizard , we specialize in building and maintaining NFT marketplaces with secure cryptocurrency transactions and integration with top open marketplaces like Opensea, Rarible, and SuperRare."</p>
                            <h5>The services we provide include</h5>
                            <ul class="serv-list">
                                <li>Minting NFT</li>
                                <li>Buy or Sell NFT</li>
                                <li>Cross Chain Trading</li>
                                <li>Wallet Integration</li>
                                <li>Marketplace Integration</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-area_repeater rg">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-5 ">
                            <figure>
                                <img class="img-fluid lazy" loading="lazy"
                                    src="/static/image/crypto.jpeg"
                                    width="330" height="425" alt="Cryptocurrency">
                            </figure>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-7 col-md-6 col-sm-6 det">
                            <h2>Cryptocurrency <span>Wallet Development</span></h2>
                            <p>[Company Name] offers expertly crafted virtual and cryptocurrency payment solutions, including mobile and web wallets, for seamless and secure transactions.</p>
                            <ul class="serv-list">
                                <li>Crypto Coin Mining</li>
                                <li>Cryptocurrency Wallet Transactions</li>
                                <li>Multi-Cryptocurrency Wallet</li>
                                <li>Peer-to-Peer Cryptocurrency Transaction</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-area_repeater rw">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-5 ">
                            <figure>
                                <img class="img-fluid lazy" loading="lazy"
                                    src="/static/image/smartcont.jpg"
                                    width="330" height="425" alt="Smart Contract">
                            </figure>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-7 col-md-6 col-sm-6 det">
                            <h2>Smart Contract <span>Development</span></h2>
                            <p>At [Company Name], we understand the importance of secure and efficient digital transactions. Our services range from helping businesses define their digital contract requirements for blockchain-based transactions to conducting insightful audits of existing contracts. Our solutions are designed to ensure accuracy, transparency, clear communication, security, and efficiency in all transactions. We utilize industry-leading technologies such as Solidity, Rust, JavaScript, and Vyper for smart contract development, providing our clients with reliable and secure solutions.</p>
                            <ul class="serv-tech-logos">
                                <li><img class="img-fluid lazy" loading="lazy"
                                        src="/static/image/ic1.webp"
                                        alt="Solidity"></li>
                                <li><img class="img-fluid lazy" loading="lazy"
                                        src="/static/image/ic2.webp"
                                        alt="Vyper"></li>
                                <li><img class="img-fluid lazy" loading="lazy"
                                        src="/static/image/ic3.webp"
                                        alt="JavaScript"></li>
                                <li><img class="img-fluid lazy" loading="lazy"
                                        src="/static/image/ic4.webp"
                                        alt="Rust"></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services-area_repeater rg">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-lg-3 col-md-5 col-sm-5">
                            <figure>
                                <img class="img-fluid lazy" loading="lazy"
                                    src="/static/image/hyper.PNG"
                                    width="550" height="550" alt="Hyperledger">
                            </figure>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-7 col-md-6 col-sm-6 det">
                            <h2>Hyperledger</h2>
                            <p>Tech Wizard offers expertly crafted Hyperledger blockchain solutions for reliable and secure decentralized databases, including Hyperledger Fabric for consistent care of intellectual property, identity, and data verification.</p>
                            <ul class="serv-list">
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






{% endblock body %}