<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-info">
                        <figure>
                            <img src="/static/01bf24e0-b207-4864-9ca0-cd6aba42591a-removebg-preview.png"
                            alt="Logo" id="logommg">
                           
                        </figure>

                        <div class="social-links">
                            <a href="https://www.facebook.com/jkmtechwizard" target="_blank" class="facebook"
                                title="Check Our FaceBook Page"><i class="fa-brands fa-facebook"></i></a>
                            <a href="https://www.instagram.com/darshan.digital/" target="_blank"  title="Check Our Instagram Page"><i class="fa-brands fa-instagram fa-beat-fade" style="color: #dd0e0e;"></i></a>
                            <a href="https://twitter.com/digitaldarshan7" target="_blank" class="twitter"
                                title="Follow us in Twitter"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/jkm-tech-wizard/" target="_blank"
                                class="linkedin" title="Connect with us in LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 footer-links">
                    <h4>Services</h4>
                    <ul id="menu-services-menu">
                        <li id="menu-item-22211"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22211"><a
                                href="/blockchain">Blockchain Development</a></li>
                        <li id="menu-item-21070"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21070"><a
                                title="Web Development" href="/web-development">Web
                                Development</a></li>
                        <li id="menu-item-21067"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21067"><a
                                title="Mobile Development" href="/phone-devlopment">Mobile Development</a></li>
                        <li id="menu-item-21066"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21066"><a
                                title="Digital Marketing" href="/digital-marketing">Digital Marketing</a></li>
                        <li id="menu-item-21064"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21064"><a
                                title="Creative Services" href="/creative-services">Creative Services</a></li>
                        <li id="menu-item-21062"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21062"><a
                                title="Analytics" href="/analytics">Analytics</a></li>

                   
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 footer-links">
                    <h4>Industries</h4>
                    <ul id="menu-industries-menu" class="">
                        <li id="menu-item-21071"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21071"><a
                                title="Banking" href="/benking">Banking</a></li>
                        <li id="menu-item-21074"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21074"><a
                                title="Insurance" href="/insurance">Insurance</a></li>
                        <li id="menu-item-21072"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21072"><a
                                title="Financial Services" href="/financial-services">Financial Services</a></li>
                        <li id="menu-item-21116"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21116"><a
                                href="/healthcare">Healthcare</a></li>
                        <li id="menu-item-21696"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21696"><a
                                title="Ed Tech" href="/Ed-tuch">Ed Tech</a></li>

                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 footer-links">
                    <h4>Company</h4>
                    <ul id="menu-company-menu" class="">
                        <li id="menu-item-21078"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21078"><a
                                title="About Us" href="/about-us">About Us</a></li>
                        <li id="menu-item-21084"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21084"><a
                                title="Team" href="/team">Team</a></li>


                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 footer-links lets-connect">
                    <h4>Let’s Connect</h4>
                    <ul class="sales">
                        <li class="india">
                            <a href="tel:+918700242627" data-rel="external" title="Call: +91-8700242627">
                                <figure>
                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                        viewbox="-49 229.3 512 335.4"
                                        style="enable-background: new -49 229.3 512 335.4" xml:space="preserve">
                                        <path class="st0"
                                            d="M463,341.1H-49v-103c0-4.9,4-8.8,8.8-8.8h494.3c4.9,0,8.8,4,8.8,8.8L463,341.1L463,341.1z" />
                                        <path class="st1"
                                            d="M454.2,564.7H-40.2c-4.9,0-8.8-4-8.8-8.8v-103h512v103C463,560.8,459,564.7,454.2,564.7z" />
                                        <rect x="-49" y="341.1" class="st2" width="512" height="111.8" />
                                        <g>
                                            <path class="st3"
                                                d="M207,444.4c-26.2,0-47.4-21.3-47.4-47.4s21.3-47.4,47.4-47.4s47.4,21.3,47.4,47.4S233.2,444.4,207,444.4zM207,358.4c-21.3,0-38.6,17.3-38.6,38.6s17.3,38.6,38.6,38.6s38.6-17.3,38.6-38.6S228.3,358.4,207,358.4z" />
                                            <circle class="st3" cx="207" cy="397" r="5.4" />
                                            <polygon class="st3"
                                                points="207,397.8 193.3,399.2 164,397.8 164,396.2 193.3,394.8 207,396.2" />
                                            <polygon class="st3"
                                                points="207,397.8 220.7,399.2 250,397.8 250,396.2 220.7,394.8 207,396.2" />
                                            <polygon class="st3"
                                                points="206.2,397 204.8,383.3 206.2,354 207.8,354 209.2,383.3 207.8,397" />
                                            <polygon class="st3"
                                                points="206.2,397 204.8,410.7 206.2,440 207.8,440 209.2,410.7 207.8,397" />
                                            <polygon class="st3"
                                                points="206.4,397.6 195.8,388.9 176,367.1 177.1,366 198.9,385.8 207.6,396.4" />
                                            <polygon class="st3"
                                                points="206.4,397.6 215.1,408.2 236.9,428 238,426.9 218.2,405.1 207.6,396.4" />
                                            <polygon class="st3"
                                                points="206.4,396.4 215.1,385.8 236.9,366 238,367.1 218.2,388.9 207.6,397.6" />
                                            <polygon class="st3"
                                                points="206.4,396.4 195.8,405.1 176,426.9 177.1,428 198.9,408.2 207.6,397.6" />
                                            <polygon class="st3"
                                                points="207.3,397.7 195.2,404.3 167.6,414.2 166.9,412.7 193.5,400.2 206.7,396.3" />
                                            <polygon class="st3"
                                                points="207.3,397.7 220.5,393.8 247.1,381.3 246.4,379.8 218.8,389.7 206.7,396.3" />
                                            <polygon class="st3"
                                                points="206.3,397.3 199.7,385.2 189.8,357.6 191.3,356.9 203.8,383.5 207.7,396.7" />
                                            <polygon class="st3"
                                                points="206.3,397.3 210.2,410.5 222.7,437.1 224.2,436.4 214.3,408.8 207.7,396.7" />
                                            <polygon class="st3"
                                                points="206.7,397.7 193.5,393.8 166.9,381.3 167.6,379.8 195.2,389.7 207.3,396.3" />
                                            <polygon class="st3"
                                                points="206.7,397.7 218.8,404.3 246.4,414.2 247.1,412.7 220.5,400.2 207.3,396.3" />
                                            <polygon class="st3"
                                                points="206.3,396.7 210.2,383.5 222.7,356.9 224.2,357.6 214.3,385.2 207.7,397.3" />
                                            <polygon class="st3"
                                                points="206.3,396.7 199.7,408.8 189.8,436.4 191.3,437.1 203.8,410.5 207.7,397.3" />
                                        </g>
                                        <circle class="st2" cx="207" cy="397" r="7.3" />
                                        <circle class="st3" cx="207" cy="397" r="4.4" />
                                    </svg>
                                </figure>
                                +91-8700242627
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-6">
                        <div class="credits">
                            <p>C</p>
                            <p>&copy; Copyright 2012-2023
                                <span id="cyear"> </span>, Tech Wizard. All rights reserved.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul id="menu-footer-menu" class="">
                            <li id="menu-item-21057"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21057"><a
                                    title="Contact Us" href="/contact-us">Contact Us</a>
                            </li>

                            <li id="menu-item-21059"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21059"><a
                                    title="Privacy Policy" href="/privacy-policy">Privacy
                                    Policy</a></li>
                            

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script data-minify="1" src="/static/js/extra00.js" defer></script>
<script data-minify="1" src="/static/js/minld.js" defer></script>
<script data-minify="1" src="/static/js/minjquery3.js" defer></script>
<script data-minify="1" src="/static/js/js2mini.js" defer></script>
<script data-minify="1" src="/static/js/js1cp.js" defer></script>

{% comment %} servicebase  {% endcomment %}

<script data-minify="1" src="/static/js/xx1.js" defer></script>

