<nav class="nav-menu d-none d-lg-block">
    <ul id="menu-header-menu" class="">
        <li id="menu-item-21037"
            class="drop-down menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21037">
            <a title="Services" href="/service">Services</a>
            <ul class="sub-m   enu">
                <li id="menu-item-21049"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21049"><a
                        title="Digital Marketing" href="/digital-marketing">Digital Marketing</a></li>
                <li id="menu-item-22210"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22210"><a
                        href="/blockchain">Blockchain Development</a></li>
                <li id="menu-item-21039"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21039"><a
                        title="Web Development" href="/web-development">Web
                        Development</a></li>
                <li id="menu-item-21038"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21038"><a
                        title="Mobile Development" href="/phone-devlopment">Mobile Development</a></li>

                <li id="menu-item-21041"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21041"><a
                        title="Analytics" href="/analytics">Analytics</a></li>

                <li id="menu-item-21047"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21047"><a
                        title="Creative Services" href="/creative-services">Creative Services</a></li>
            </ul>
        </li>
        <li id="menu-item-21052"
            class="drop-down menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21052">
            <a title="Industries" href="/industries">Industries</a>
            <ul class="sub-menu">
                <li id="menu-item-21043"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21043"><a
                        title="Banking" href="/benking">Banking</a></li>
                <li id="menu-item-21053"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21053"><a
                        title="Insurance" href="/insurance">Insurance</a></li>
                <li id="menu-item-21051"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21051"><a
                        title="Financial Services" href="/financial-services">Financial Services</a>
                </li>
                <li id="menu-item-21115"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21115"><a
                        href="/healthcare">Healthcare</a></li>
                <li id="menu-item-21697"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21697"><a
                        title="Ed Tech" href="/Ed-tuch">Ed Tech</a></li>
            </ul>
        </li>

        <li id="menu-item-21044"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21044"><a
                title="Career" href="/about-us">About</a></li>
        <li id="menu-item-21044"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21044"><a
                title="Career" href="/blog">Blog</a></li>
        <li id="menu-item-21056"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21056"><a
                title="Success Stories" href="/team">Tram</a></li>
        <li id="menu-item-21046"
            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21046"><a
                title="Contact Us" href="/contact-us">Contact Us</a></li>
    </ul>
</nav>