{% extends 'insorance_base.html' %}
{% block insorance_service_body %}
<section id="hero-inner">
    <div class="hero-inner-wrapper">
        <div class="hero-inner-container bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                            Privacy Policy</h2>
                        <p>Continuous protection to your privacy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock insorance_service_body %}
