{% extends 'insorance_base.html' %}
{% block insorance_service_body %}



<section id="hero-inner">
    <div class="single-hero bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-9 col-sm-12 text-center tmlogo-container">
                        <div class="team-logo-wrapper">
                            <div class="team-logo-area animated">
                                <figure>
                                                                        <img src="/static/image/team.webp" class="img-fluid lazy" loading="lazy" width="438"
                                            height="455" alt="Team - Our high-performance experts"/>
                            </div>
                            <div class="team-logo-name">
                                <h1>Team</h1>
                                <h6>Our high-performance experts</h6>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero -->
    <!-- ======= Default Content Section ======= -->
    <section id="about-team" class="about-team">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <p>At INT., we are proud to be led by a team of experienced professionals who are passionate about digital innovation. Our team's deep product knowledge and industry expertise enable us to deliver innovative,<br> outcome-driven solutions for our clients. We are a super agile and flexible team that is always striving for digital success, with a focus on delivering humane and customer-centric solutions. Our team's passion for technology drives us to continuously explore and implement cutting-edge solutions in all our projects.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Default Content Section -->
    
    <!-- ======= Faces Of Commitment Section ======= -->
    <section id="commitment-faces" class="commitment-faces">
        <div class="container">
            <div class="section-title">
                <h2>The Faces Of Commitment</h2>
            </div>
            <div class="our-experts">
                <ul class="exp-carousel">
                    <li class="exp-item">
                        <figure><img width="195" height="195" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20195%20195'%3E%3C/svg%3E" class="img-fluid" alt="Abhishek Rungta" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/img-ar_b77baa9186.webp"><noscript><img width="195" height="195" src="https://www.indusnet.co.in/images/signature_pix/img-ar_b77baa9186.webp" class="img-fluid" alt="Abhishek Rungta"></noscript></figure>
                        <h4>Abhishek Rungta</h4>
                        <h5>Founder &amp; CEO</h5>
                        <p>A techie turned entrepreneur in his teens, Abhishek Rungta, the CEO of INT. is a seasoned Digital Strategy Consultant, who provides organisation a strategic road map to attain Digital Success.</p>
                        
                    </li>
                    <li class="exp-item">
                        <figure><img width="195" height="195" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20195%20195'%3E%3C/svg%3E" class="img-fluid" alt="Aji Issac Mathew" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/img-ai_2c9d39c9d1.webp"><noscript><img width="195" height="195" src="https://www.indusnet.co.in/images/signature_pix/img-ai_2c9d39c9d1.webp" class="img-fluid" alt="Aji Issac Mathew"></noscript></figure>
                        <h4>Aji Issac Mathew</h4>
                        <h5>CEO & Co-Founder of Indus Net TechShu</h5>
                        <p>A Digital Strategist for a decade, Aji Issac Matthew, the CEO and cofounder of Indus Net Techshu is a seasoned Marketing Professional crafting ROI driven digital solutions for the global enterprises.</p>
                        
                    </li>
                    <li class="exp-item">
                        <figure><img width="195" height="195" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20195%20195'%3E%3C/svg%3E" class="img-fluid" alt="Bharat Berlia" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/img-bb_f24e1a8509.webp"><noscript><img width="195" height="195" src="https://www.indusnet.co.in/images/signature_pix/img-bb_f24e1a8509.webp" class="img-fluid" alt="Bharat Berlia"></noscript></figure>
                        <h4>Bharat Berlia</h4>
                        <h5>CIO</h5>
                        <p>The CIO of INT., Bharat Berlia brings two decades of hands-on experience in identifying new opportunities, developing business strategy & delivery road-maps in the BFSI, Retail, Healthcare and Entertainment sectors.</p>
                        
                    </li>
                    <li class="exp-item">
                        <figure><img width="200" height="200" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20200%20200'%3E%3C/svg%3E" class="img-fluid" alt="Vishal Dugar, Chief Growth Officer" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/vishal-dugar.webp"><noscript><img width="200" height="200" src="https://www.indusnet.co.in/images/signature_pix/vishal-dugar.webp" class="img-fluid" alt="Vishal Dugar, Chief Growth Officer"></noscript></figure>
                        <h4>Vishal Dugar</h4>
                        <h5>Chief Growth Officer</h5>
                        <p>With a growth oriented mindset and a multi-cultural experience, Vishal Dugar brings in consultative sales and partnership approach to INT. He likes to explore innovative channels to challenge status-quo. He is an alum of Indian School of Business.</p>
                        
                    </li>
           
                </ul>
            </div>
        </div>
    </section>
    <!-- End Faces Of Commitment Section -->
    
    <!-- ======= Management Team Section ======= -->
    <section id="management-team" class="management-team">
        <div class="container">
            <div class="section-title">
                <h2>Management Team</h2>
            </div>
            <div class="row">
                <div class="mngmt-sec">
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Souvik Chaki, Business Head - India" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/souvik_663375fec3.png"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/souvik_663375fec3.png" class="img-fluid" alt="Souvik Chaki, Business Head - India"></noscript>
                            </figure>
                            <h4>Souvik Chaki</h4>
                            <h5>Business Head - India</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Santanu Mukherjee, Business Head - INT Emerge" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/santanu_23e0fa673b.png"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/santanu_23e0fa673b.png" class="img-fluid" alt="Santanu Mukherjee, Business Head - INT Emerge"></noscript>
                            </figure>
                            <h4>Santanu Mukherjee</h4>
                            <h5>Business Head - Emerge Digital</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Swarnali Nandy, Operations Director" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/swarnali_f51ef9b8c4.jpeg"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/swarnali_f51ef9b8c4.jpeg" class="img-fluid" alt="Swarnali Nandy, Operations Director"></noscript>
                            </figure>
                            <h4>Swarnali Nandy</h4>
                            <h5>Operations Director</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Debopam Majilya, Technical Director" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/debopam_cdb63d1464.png"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/debopam_cdb63d1464.png" class="img-fluid" alt="Debopam Majilya, Technical Director"></noscript>
                            </figure>
                            <h4>Debopam Majilya</h4>
                            <h5>Technical Director</h5>
                        </div>
                    </div>                
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Rahul Mishra, Head of Communications" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/rahulmishra.webp"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/rahulmishra.webp" class="img-fluid" alt="Rahul Mishra, Head of Communications"></noscript>
                            </figure>
                            <h4>Rahul Mishra</h4>
                            <h5>Head of Communications</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Anindya Sengupta, Sr. Account Relationship Manager" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/anindya_debe7f3782.png"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/anindya_debe7f3782.png" class="img-fluid" alt="Anindya Sengupta, Sr. Account Relationship Manager"></noscript>
                            </figure>
                            <h4>Anindya Sengupta</h4>
                            <h5>Sr. Account Relationship Manager</h5>
                        </div>
                    </div>
                    <!-- <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Mainak Biswas, Sr. Account Relationship Manager" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/mainak_4b6f3f3ee3.png"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/mainak_4b6f3f3ee3.png" class="img-fluid" alt="Mainak Biswas, Sr. Account Relationship Manager"></noscript>
                            </figure>
                            <h4>Mainak Biswas</h4>
                            <h5>Sr. Account Relationship Manager</h5>
                        </div>
                    </div> -->
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="350" height="350" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20350'%3E%3C/svg%3E" class="img-fluid" alt="Shikha Surana, Company Secretary" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/shikhasurana.webp"><noscript><img width="350" height="350" src="https://www.indusnet.co.in/images/signature_pix/shikhasurana.webp" class="img-fluid" alt="Shikha Surana, Company Secretary"></noscript>
                            </figure>
                            <h4>Shikha Surana</h4>
                            <h5>Company Secretary</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="250" height="250" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20250%20250'%3E%3C/svg%3E" class="img-fluid" alt="Smitta Kejriwal, Director - HR" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/smittakejriwal.webp"><noscript><img width="250" height="250" src="https://www.indusnet.co.in/images/signature_pix/smittakejriwal.webp" class="img-fluid" alt="Smitta Kejriwal, Director - HR"></noscript>
                            </figure>
                            <h4>Smitta Kejriwal</h4>
                            <h5>Director - HR</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="400" height="400" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20400%20400'%3E%3C/svg%3E" class="img-fluid" alt="Dipak Singh, Lead Data Scientist" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/dipak-singh.webp"><noscript><img width="400" height="400" src="https://www.indusnet.co.in/images/signature_pix/dipak-singh.webp" class="img-fluid" alt="Dipak Singh, Lead Data Scientist"></noscript>
                            </figure>
                            <h4>Dipak Singh</h4>
                            <h5>Lead Data Scientist</h5>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="teams-block">
                            <figure>
                                <img width="120" height="120" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20120%20120'%3E%3C/svg%3E" class="img-fluid" alt="Amit Singha, Account Relationship Manager" data-lazy-src="https://www.indusnet.co.in/images/signature_pix/amit_88e6d1e8a3.png"><noscript><img width="120" height="120" src="https://www.indusnet.co.in/images/signature_pix/amit_88e6d1e8a3.png" class="img-fluid" alt="Amit Singha, Account Relationship Manager"></noscript>
                            </figure>
                            <h4>Amit Singha</h4>
                            <h5>Account Relationship Manager</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Management Team Section -->
    
    <!-- ======= Team Statistics Section ======= -->
    
    
{% endblock insorance_service_body %}